[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.2.10"
"psycopg2-binary" = "*"
djangorestframework = "==3.9.1"
django-rest-auth = "*"
django-allauth = "*"
coreapi = "*"
pyyaml = ">=4.2b1"
django-rest-swagger = "*"

[dev-packages]

[requires]
python_version = "3.7"
